{% extends 'base.html' %}
{% block inhead %}
{%endblock%}

{% block content %}

<script type="text/javascript">
  $(document).ready(function(){
    //call plugin
    $("div[name=radiobox]").buttonsetv();
    $("#checkbox").buttonsetv();
	$("#search-date-from").datepicker({
		minDate: 0,
		onSelect: function(dateText, inst) { 
			$("#input-from").val(dateText);
		}
	});
  
});
</script>

<style type="text/css">
	div.myunfilled{
		padding:15px;
		border:1px solid #FAFF3D;
		margin-top:20px;
		background-color:white;
		margin-left:0px;
	}
	div.myfilled{
		background-color:white;	
        padding:15px;
        border:1px solid #3AEEC0;
        margin-top:20px;
		margin-left:0px;
	}
	p{
		text-align:center;
		margin:0px;
		padding:0px;
	}
	.mytopmargin{
		margin-top:20px;
	}
	.lightblue{
		padding:0px;
		margin:0px;
		background-color:E9F7FC;
	}
	.nopad{
		padding:0px;
	}
	.marginright{
		margin-left:0px;
	}
	.invis{
		margin:0px;
		padding:0px;
	}
</style>

<form method="post"> {% csrf_token %}

<br />
<div class="container">
<div class="span-14 prepend-5 last">
	<fieldset>
	<legend>Add a New Task</legend>
	
		<div class="span-11 prepend-1 last">
			<div id="Name" class="myunfilled">
				Name: <input type="text" name="Caption:" size="25"/>
			</div>
		</div>
		
		<br /><br />	

		<div class="span-4 prepend-1 clearfix">
			<div id="Priority" class="myfilled" style="padding:15px">
				<p>Priority</p> 
				<div name="radiobox" class="marginright" style="padding:10px;">
      				<input type="radio" id="radio1" name="priority" value=1 /><label for="radio1">High</label>
      				<input type="radio" id="radio2" name="priority" value=2 CHECKED/><label for="radio2">Normal</label>
      				<input type="radio" id="radio3" name="priority" value=3 /><label for="radio3">Low</label>
    			</div>	
			</div>
		</div>
		<div class="span-2 clearfix">
			Image
		</div>
		<div class="span-4 prepend-1 clearfix last">
			<div id="Kind" class="myunfilled" style="height:135px;">
				<p>Kind</p>
				<select name="oldkind" id="kinds">
					<option value=0>Select Kind</option>
					<optgroup label="default kinds">
					{% for k in defaultKinds %}
						<option value={{k.name}}>{{k.name}}</option>
					{% endfor %}
					</optgroup>
					{% if tempKinds %}
						<optgroup label="your kinds">
					{% endif %}
					{% for k in tempKinds %}
						<option value={{k}}>{{k}}</option>
					{% endfor %}
				</select>
				
				<br />
				--OR--
				<input type="text" id="newkind" name="New Kind:" size=8 />
			</div>
		</div>
		
		<br /><br />
	
		<div class="span-11 prepend-1 last">
			<div id="Due" class="myfilled" style="height:170px;">
				<div class="span-2 prepend-0 colborder" style="width:90px; height:150px;" name="radiobox">
                    <input type="radio" id="radio4" name="radio2" value="1" CHECKED/><label for="radio4">Today</label>
                    <input type="radio" id="radio5" name="radio2" value="2" /><label for="radio5">Tomorrow</label>
                    <input type="radio" id="radio6" name="radio2" value="3"/><label for="radio6">This Week</label>
					<br/><br/>
					<input type="radio" id="radio8" name="radio2" value="5"/><label for="radio8">Long Term Goal</label>
				</div>
				<div class="span-4 prepend-0 colborder" style="width:158px; margin-right:0px;" name="calender">	
					<div class="invis colborder" style="width:155px; height:135px; margin-top:15px; display:none;"> . </div>
					<div id="search-date" class="search">
						<div id="search-date-from" class="datepicker" style="font-size:.75em; padding:0px; margin-bottom:15px;">
		   					<span class="search-header"><div class="input-label"> </div><input class="date" style="display:none" id="input-from" type="text" name="from" autocomplete="off" maxlength="10"/></span>
								
		<!-- -->		</div>
					</div>
				</div>
				<div class="span-1 prepend-0 last" style="margin-left:5px; padding:0px; padding-top:25px" name="radiobox">
					<br/><br/>
					<select name="time">
						<option value="">End of Day</option>
						{% for i in times %}
                			<option value={{i}}>{{i}}</option>
            			{% endfor %}
					</select>
				</div>
			</div>
		</div>
	
		<br /><br />
	
		<div class="span-11 prepend-1 last">
			<div id="notes" class="myfilled">
				Notes: <input type="text" name="notes" size=25 />
			</div>
		</div>
		<br /><br />
		<div class="span-8 prepend-3 last" style="margin-top:20px">
			<div class="span-4">
				<input type='submit' />
    		</div>
			<div class="span-3">
				<a href = '/user/{{userID}}/'>See all Tasks</a>
			</div>
		</div>
	</fieldset>
</div>
</div>

{% endblock %}

<!--
			        {% for i in monthlist %}
    	            	<option value={{i}}>{{i}}</option>
        	    	{% endfor %}
      				</select><br/>
			        Day:<select name='day'>
	    	        {% for i in days %}
               			<option value={{i}}>{{i}}</option>
            		{% endfor %}
        			</select><br/>
        			Time:<select name='time'>
            		{% for i in times %}
            		    <option value={{i}}>{{i}}</option>
           			{% endfor %}
-->
