{% extends 'base.html' %}
{% block inhead %}
{%endblock%}

{% block content %}

<script type="text/javascript">
  $(document).ready(function(){
    //call plugin
    $("div[name=radiobox]").buttonsetv();
    $("#checkbox").buttonsetv();
	$("#search-date-from").datepicker({
		minDate: 0,
		onSelect: function(dateText, inst) { 
			$("#input-from").val(dateText),
			$("#search-date-from").css({opacity: "1"}),
			$("label[name=daylabel]").each(function(){$(this).css({opacity: ".55"})});
			$("#usecal1").attr("checked", true);
		}
	});
	
	$("input[name=Caption:]").keypress(function(){ nowfilled($("div[name=taskname]")) });
	$("input[name=Caption:]").blur(function(){
		if($("input[name=Caption:]").val().length==0){  nowunfilled($("div[name=taskname]")) }
	});
	$("div[name=Due]").addClass("ui-state-highlight ui-corner-all");
    $("input[name=Caption:]").focus();
	var newkind = $("input[name=newkind]");
	var oldkind = $("select[name=oldkind]");
    var divkind = $("div[name=kind]");
	oldkind.change(function(){
		newkind.val(oldkind.val())
		if(divkind.hasClass("ui-state-error")){ nowfilled(divkind) }
		});
	newkind.click().keypress(function(){
		oldkind.val(0)
		if(divkind.hasClass("ui-state-error")){ nowfilled(divkind)} 
	});
	
	newkind.blur(function(){
		if(newkind.val().length==0){  nowunfilled(divkind)  }
	});	
	
	var ezdate = $("input[name=radio2]");
	var divcalendar = $("#search-date-from");
	
	var datetext = $("#input-from");
	ezdate.change(function(ezdate, datetext) { 
		
		if($("#usecal").attr("checked")==false){
			if(ezdate.val()=="1"){
				datetext.val("ok")			
			}
		}

		divcalendar.css({opacity: ".65"}), 
		$("label[name=daylabel]").each(function(){$(this).css({opacity: "1"})}),
		$("#usecal0").attr("checked",true);
	});
	//$("input[name=submit]").click(function(){
		
	//})
	
	//$("#input-from").change(function(){ $("[name=Caption:]").addClass("ui-state-highlight")  });
	

	function nowfilled(element) {
		element.removeClass("ui-state-error").addClass("ui-state-highlight");
	}
	
	function nowunfilled(element) {
		if(element.hasClass("ui-state-highlight")){
			element.removeClass("ui-state-highlight").addClass("ui-state-error")
		}
	}
	

});
</script>

<style type="text/css">
	p{
		text-align:center;
		margin:0px;
		padding:0px;
	}
	body{background-color:EDE2D9}
	.white{background-color:white}
</style>

<form method="post"> {% csrf_token %}

<br />
<input type="radio" id="usecal1" style="display:none" name="usecal" value="1" />
<input type="radio" id="usecal0" style="display:none" name="usecal" value="0" CHECKED />
<div class="container">
<div class="span-14 prepend-5 last">
	<fieldset class="white ui-corner-all">
	<div style="margin-top:-15px; margin-left:-12px; font-size:1.2em; margin-bottom:15px;"> <b>Add a new task</b></div>
	{%if error%}
		<div class="span-13" style="font-size:1.5em; color:red; text-align:center">{{error}}</div>
	{%endif%}
	<div class="span-12 prepend-1 last ui-state-error ui-corner-all" name="taskname" id="taskname" style="padding:10px; margin-bottom:20px; margin-left:10px;">
				<p><b>Name:</b> &nbsp;&nbsp; <input type="text" name="Caption:" class="ui-corner-all" style="width:350px;"  maxlength="33"/></p>
		</div>
		
		<div class="span-3 ui-state-highlight ui-corner-all" style="padding:10px; margin-left:10px;">
				<p><b>Priority</b></p> 
				<div name="radiobox" class="" style=" margin-left:10px; margin-top:5px; margin-bottom:5px;">
      				<input type="radio" id="radio1" name="priority" value=1 /><label for="radio1">High</label>
      				<input type="radio" id="radio2" name="priority" value=2 CHECKED/><label for="radio2">Normal</label>
      				<input type="radio" id="radio3" name="priority" value=3 /><label for="radio3">Low</label>
				</div>
		</div>
		<div class="span-5 prepend-5 clearfix" style="padding:10px; margin-left:15px; margin-right:-10px;">
			<img src="/static/eddie/wickerbasketsmallerarrow.jpg"/>
		</div>
		<div name="kind" class="span-3 prepend-1 last ui-state-error ui-corner-all" style="margin-left:0px; height:122px; padding:10px;">
				<p><b>Kind<b/></p>
				<select name="oldkind" id="kinds">
					<option value=0>Select Kind</option>
					<optgroup label="default kinds">
					{% for k in defaultKinds %}
						<option value={{k.name}}>{{k.name}}</option>
					{% endfor %}
					</optgroup>
					{% if tempKinds %}
						<optgroup label="your kinds">
					{% endif %}
					{% for k in tempKinds %}
						<option value={{k}}>{{k}}</option>
					{% endfor %}
				</select>
				
				<br />
				<p>--OR--</p>
				<input type="text" id="newkind" name="newkind" style="width:107px;" maxlength="15" />
		</div>
		<br /><br />
		
		<div name="Due" class="span-12 prepend-1 last" style=" width:460px; padding:15px; padding-bottom:5px; margin-top:0px; margin-bottom:20px; margin-left:10px;">
				<div class="span-2 prepend-0" id="ezdate" style="margin-top:30px;" name="radiobox">
                    
					<input type="radio" id="radio4" name="radio2" value="1" CHECKED/><label name="daylabel" for="radio4">Today</label>
                    <input type="radio" id="radio5" name="radio2" value="2" /><label name="daylabel" for="radio5">Tomorrow</label>
                    <input type="radio" id="radio6" name="radio2" value="3" /><label name="daylabel" for="radio6">This Week</label>
					<br/>
				</div>
				<div class="span-5 prepend-2" style="" name="calender">	
					<div id="search-date" class="search">
						<div id="search-date-from" class="datepicker" style="font-size:.75em; opacity: .65; padding:0px; margin-left:-8px; margin-bottom:15px; margin-right:0px;">
		   					<span class="search-header"><div class="input-label"> </div><input class="date" style="display:none" id="input-from" type="text" name="caldate" autocomplete="off" maxlength="10"/></span>
								
		<!-- -->		</div>
					</div>
				</div>
				<div class="span-1 prepend-0 last" style="margin-left:8px; margin-top:10px;" name="radidfobox">
					<br/><br/><br/>
					<select name="time">
						<option value="">End of Day</option>
						{% for i in times %}
                			<option value={{i}}>{{i}}</option>
            			{% endfor %}
					</select>
				</div>
		</div>
	
		<br /><br />
	
		<div class="span-12 prepend-1 last ui-corner-all ui-state-highlight" style="padding:10px; margin-left:10px; margin-bottom:5px;">
			<p>	Notes:&nbsp;&nbsp; <input name="notes" style="width:350px;" /></p>
			</div>
		<div class="span-8 prepend-4 last" name="radiobox"  style="margin-top:20px">
				<input type='submit' name="submit" style="margin:0px; padding:2px; padding-left:5px; padding-right:5px;" />
				<a style="margin:0px; padding:0px;" href = '/user/{{userID}}/'>Home</a>
		</div>
		<br /><br />
	</fieldset>
</div>
</div>

{% endblock %}

