{% extends 'base.html' %}

{% block content %}
    
<div class="container">
	<br/>
	<div class="span-12 prepend-5" style="padding-top:0px;">	
	<fieldset>
	<legend>task details</legend>
	<form method='post'> {% csrf_token %}
        <div class="span-11 prepend-0" style="text-align:center"> <FONT  style="font-size:2.5em; margin:0px;">  {{ task.caption }}</FONT> </div>
	<br /><br /> 
	Kind:
	{{ task.kind }} <br /><br />
	Priority: 
	{{ task.priority }} <br /> <br />
    Complete by
    {{ task.dateDue }}
    ({{task.dateDue|timeuntil }}
    remaining)   
	<br/><br/>
	Notes: {{task.elaboration}}
    {% if error %}
        <br />
        <FONT COLOR="FF0033" size='20'> {{ error }} </FONT>
        <br />
    {% endif %}        
    <br />    
	<br />
	<a href = '/user/{{userID}}'>See all Tasks</a>	

    </form>
	</fieldset>
	</div>
</div>
	{% endblock %}
